# Creado por https://www.gitignore.io/api/linux,windows
# Editar en https://www.gitignore.io/?templates=linux,windows

### Linux ###
* ~

# archivos temporales que se pueden crear si un proceso todavía tiene un identificador abierto de un archivo eliminado
.fuse_hidden *

# Preferencias de directorio de KDE
.directorio

# Carpeta de basura de Linux que puede aparecer en cualquier partición o disco
.Basura-*

Los archivos # .nfs se crean cuando se elimina un archivo abierto pero aún se está accediendo a él
.nfs *

### Windows ###
# Windows archivos de caché en miniatura
Thumbs.db
Thumbs.db: encriptable
ehthumbs.db
ehthumbs_vista.db

# Volcar archivo
* .stackdump

# Archivo de configuración de carpeta
[Dd] esktop.ini

# Papelera de reciclaje utilizada en archivos compartidos
$ RECYCLE.BIN /

# Archivos de Windows Installer
*.taxi
* .msi
* .msix
* .msm
* .msp

# Atajos de Windows
* .lnk

# Fin de https://www.gitignore.io/api/linux,windows