@charset ="utf-8";

#cabeceraweb{
    background-color: blue;

}
#navegacionprincipal{
    background-color:red;
    
}
#barralateral{
    background-color:greenyellow;
    float:left;
    height:1080px;
    
}
#contenidoprincipal{
    background-color:purple;
    
    margin-left:210px;
    padding-left:15px;
    padding-top:15px;

}
#pieprincipal{
    background-color:rgb(241, 241, 14);
    clear:both;
    margin-top:50px;
}
li{
    background-color:yellow;
    display:inline;
}